---
layout: default
---

<div class="page-content full" id="recent-posts">
  {% for post in site.posts %}
    <a href="{{ post.url}}" class="post-excerpt">
      <div class="padded-content">
        <div class="title">{{ post.title }}</div>
        {% if post.photo && post.photo_url %}
          <div class="image" style="background-image:url('{{ post.photo_url }}')"></div>
        {% else %}
          <span class="post-meta">{{ post.date | date: "%b %Y" }}</span>
          {{ forloop.index }}
          <span class="body">{{ post.excerpt | strip_html }}</span>
        {% endif %}
      </div>
    </a>
  {% endfor %}

  <div class="breaker"></div>
</div>
<!--   <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->