<script type="text/javascript">
$(document).ready(function(){

	var posts = $("a.post-excerpt"),
		phe = 0,
		pd = 0,
		p1,p2,pdsum;
	posts.each(function(index, value) {
		// if(index>0 && index%2==0)
		// {
		// 	console.log('index '+index);
		// 	console.log($('.title',value).text() + 'width: ' + $(value).height());
		// 	var margin =Math.abs(pd) - 10;
		// 	if(pdsum)
		// 		margin += pdsum;

		// 	if(pd>0)
		// 		pdsum = Math.abs(pd);
		// 	else
		// 		margin -= pdsum+10;
		// 	console.log(margin + ' pd '+pd);
		// 	$(this).css('margin-top', '-'+margin+'px');
		// }
		p2 = p1;
		p1 = $(value).height();
		pd = p1-p2;
	});
});
</script>