



/**
 * Basic styling
 */
 * { margin:0; padding:0; font-family:inherit; }
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: lighter;
    color: $text-color;
    //background-color: $background-color;
    background-image: url(../images/geometry2.png);
    margin: 0 auto;
    width: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: bottom;
}

strong {
    font-weight: bold;
}

hr {
    height:1px;
    border:none;
    background-color:$background-color;
}

/**
 * Figures
 */

figure {
  display:block;
  max-width: 90%;
  margin: 0 auto;
  margin-bottom:  $spacing-unit/2;
  > img {
    width: 100%;
  }
  > figcaption {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    font-style: italic;
    font-size: $small-font-size*1.25;
    line-height: 1.4;
    color: $grey-color-dark;
    clear: both;
  }
  @media screen and (min-width: 680px){
  position: relative;
  display:block;
  max-width: 75%;
  width: 30%;  
  box-sizing: border-box;
  margin-top:     5px;
  margin-bottom:  10px;
  margin-left:    -$spacing-unit;
  margin-right:   $spacing-unit/2;
  float: left;
  &.img-right {
    margin-right:    -$spacing-unit;
    margin-left: $spacing-unit/2;
    float: right;
  }
  > figcaption {
    position: relative;
    left: 0px;
    clear: both;
    font-size: $small-font-size;
  }
  }
}
figure::after {
  content:"";
clear:both;
}


/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit/2;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1,h2,h3,h4,h5,h6 {
  // font-family: 'Poly', helvetica, sans-serif;
  font-weight:normal;
  color:#040404;
  margin: 1.618em 0 1em 0;
  text-rendering: optimizelegibility;
}
h1,h2 { font-size: 200%; }
h3 { font-size: 180%; }
h4 { font-size: 165%; }
h5, h6 { font-size: 150%; }




/**
 * Links
 */
a {    
    text-decoration: none;
    &:link, &:active { 
      color:#316d96; 
    }
    &:visited {
        color: lighten($brand-color, 15%);
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}



/**
 * Blockquotes
 */
blockquote {
  font-family: 'Poly', georgia;
  font-style:italic;
  line-height:1.618;
  background:transparent url(quotation-mark.png) no-repeat scroll 25px 1.4em;
  padding:0.1em 1em 0.1em 60px;
  margin:1.618em 0 1.618em -60px;
  color: #666055;
  text-rendering: optimizelegibility;
}

/**
 * Code formatting
 */
pre { 
  border-left:10px solid lighten($brand-color, 10%);
  margin-left:-60px;
  margin-right:-58px;
  padding:0.1em 0 0.4em 50px;    
  overflow-x: auto;
  //background-color:$grey-color-light;

  > code {
    padding:0;
    background-color:transparent;
    border:0;
    border-radius: 0;
  }
}
code {
  font-family: ‘Lucida Console’, Monaco, monospace;
  font-size: $small-font-size;
  background-color: #f6f9fa;
  color:black;
  border-radius: 3px;
  padding:0 0.3em;
}

// /**
//  * Wrapper
//  */
// .wrapper {
//     max-width: -webkit-calc(800px - (#{$spacing-unit} * 2));
//     max-width:         calc(800px - (#{$spacing-unit} * 2));
//     margin-right: auto;
//     margin-left: auto;
//     padding-right: $spacing-unit;
//     padding-left: $spacing-unit;
//     @extend %clearfix;

//     @include media-query($on-laptop) {
//         max-width: -webkit-calc(800px - (#{$spacing-unit}));
//         max-width:         calc(800px - (#{$spacing-unit}));
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}
