div.breaker { clear:both; }

#recent-posts {
// column-gap: 15px;
  -webkit-column-width: 380px;
   -moz-column-width: 380px;
        column-width: 380px;
}

/* --------------------------------------------------------------------------------------------- */
/* main page-content */
div.page-content {
  background:white;
  padding:70px 60px;
  margin-bottom: 60px;
  &.full {
    padding: 0;
  }
  &.photo {
    padding: 0;
    margin: 0;
  }
  img, iframe {
    display:block; max-width:100%; margin:1em 0;
  }
  @include media-query($on-palm) {
    padding: 10px;
  }
}

.home {
  padding: $spacing-unit;
  text-align: center;
}

/* --------------------------------------------------------------------------------------------- */
/* post excerpt on index.html*/

a.post-excerpt {
  display: block;
  color: inherit;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  border-bottom: 4px solid $grey-color-light;
  width:100%;
  .post-meta {
    display:inline-block;
    padding-right:8px;
    color:lightcoral;
    font-style:italic;
  }
  .padded-content {
    display: block;
    padding: $spacing-unit/2;
    .image {
      padding:0;
      height:200px;
      max-height: 200px;
      background-size: auto 100%;
      background-repeat: no-repeat;
      background-position: left top;
    }
  }
  .title {
    font-weight: bold;
  }
  &:hover {
    color:white;
    background: $brand-color;
    text-decoration:none;
  }
  @media screen and (min-width: 700px){
    //position:relative;
    height: auto;
    overflow: hidden;
    float:left;
    border:none;
    margin-bottom:10px;

    .padded-content {
      padding: $spacing-unit;
    }
  }
}

/* --------------------------------------------------------------------------------------------- */
/* posts */

.post {
  padding-bottom: 0em;
  page-break-before: always;

  actions {
    display:inline-block;
    float:right;
    color: #ccc;
  }
  .post-meta {
    display:inline-block;
    border-bottom:1px solid rgba(0,0,0,0.05);
    color: $grey-color;
    margin-bottom: 2em;
  }
}



/* prettyprint */
pre { color:black; }
pre .str { color: #080; }
pre .kwd { color: #000; font-weight: 500; }
pre .com { color: #999; font-style: italic; }
pre .typ { color: #349; }
pre .lit { color: #066; }
pre .pun, div.post pre .opn, div.post pre .clo { color: #660; }
pre .pln { color: #000; }
pre .tag { color: #008; }
pre .atn { color: #606; }
pre .atv { color: #080; }
pre .dec { color: #606; }
/* Use higher contrast and font-styling for printable form. */
@media print {
  pre .str { color: #060; }
  pre .kwd { color: #006; font-weight: bold; }
  pre .com { color: #999; font-style: italic; }
  pre .typ { color: #404; font-weight: bold; }
  pre .lit { color: #044; }
  pre .pun, div.post pre .opn, div.post pre .clo {
    color: #440;
  }
  pre .pln { color: #000; }
  pre .tag { color: #006; font-weight: bold; }
  pre .atn { color: #404; }
  pre .atv { color: #060; }
}

//header section
.site-nav {
  float: right;
  margin-top: -120px;
}

header h1 a {
  display:inline-block;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: 160ms -webkit-transform ease-out;
  text-decoration: none;
}
header h1 a:hover {
  text-decoration: none;
  cursor:pointer;
}

footer {
  color:#999;
  display: block;
  margin:0;
  padding:0 0 1em 0;
  text-align: center;
  font-size: $small-font-size;
}

footer a:link {
  color:#778;
  text-decoration: none;
}

/* Viewport size */

@media screen and (min-width: $on-laptop) {
  body { width: $on-laptop; }
  header { margin:0; }
  footer { margin:5% 0; }
}