div.breaker { clear:both; }

/* --------------------------------------------------------------------------------------------- */
/* main page-content */
div.page-content {
  background:white;
  padding:70px 60px;
  margin-bottom: 60px;
  &.full-bleed {
    padding: 0;
  }
  &.photo {
    padding: 0;
    margin: 0;
  }
  img, iframe {
    display:block; max-width:100%; margin:1em 0;
  }
  @include media-query($on-palm) {
    padding: 10px;
  }
}

div.home div.end {
  padding: 40px;
  text-align: center;
}

/* --------------------------------------------------------------------------------------------- */
/* post excerpt */
/* Wrapped in a div.page-content.full-bleed */

a.post-excerpt {
  display: block;
  color: inherit;
  border-bottom: 4px solid #ddd;
  .post-meta {
    display:inline-block;
    padding-right:8px;
    color:lightcoral;
    font-style:italic;
  }
  .padded-content {
    display: block;
    padding: $spacing-unit;
  }
}
  a.post-excerpt.photo {
    height:320px;
  
  .title {
    padding:10px 40px;
    font-size: 300%;
    font-weight: 100;
    color: white;
    -webkit-text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    -moz-text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    position: absolute;
    left:0; right:0; bottom:0;
    z-index:2;
  }
  .padded-content {
    padding:0;
    width:100%;
    height:100%;
    background: transparent no-repeat center center scroll;
    position: relative;
    .image {
      position: absolute;
      left:0; top:0; right:0; bottom:0;
      z-index:1;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;      
    }
  }
  &:hover {
    .padded-content {
      opacity: 1;
      .image
      {
        opacity:0.5;
      }
    }
  }
}

  @media screen and (min-width: 680px) {
    a.post-excerpt {
      position:relative;
      display: block;
      width:50%; /* 680/2 */
      /*height:180px;*/
      overflow-y: hidden;
      float:left;
      border:none;
      margin-bottom:10px;
    }
    a.post-excerpt.photo {
      height:340px;
    }
      a.post-excerpt.photo div.padded-content {
        padding:0;
        width:100%;
        height:100%;
        background: transparent no-repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }
      a.post-excerpt.photo:hover div.padded-content {
        opacity:0.9;
      }
  } /* END @media screen and (min-width: 680px) */
  
  /*@media screen and (min-width: 480px) {
    a.post-excerpt {
      width:50%;
    }
  }*/

  a.post-excerpt:hover {
    color:white;
    background: $brand-color;
    text-decoration:none;
  }

  a.post-excerpt div.title {
    font-weight: bold;
  }

 

/* --------------------------------------------------------------------------------------------- */
/* photo post */

div.page-content.photo-post {
  padding-top: 60px;
}
  div.page-content.photo-post p:first-child, div.page-content.photo-post img:first-child {
    padding-top:0;
    margin-top:0;
  }
  div.page-content.photo-post p, div.page-content.photo-post iframe {
    padding: 40px 0 0 0;
    margin:0;
  }
/*div.page-content.photo-post {
  padding: 0 0 30px 0;
  margin:0 0 70px 0;
}
  div.page-content.photo-post p, div.page-content.photo-post iframe {
    padding: 40px 40px 0 40px;
    margin:0;
  }
  div.page-content.photo-post img {
    display:block;
    padding:0 0 10px 0;
    margin:0;
  }
  div.page-content.photo-post p.datetime {
    color:#ccc;
  }*/

/* --------------------------------------------------------------------------------------------- */
/* posts */

div.post {
  padding-bottom: 0em;
  /*margin-bottom:-70px;*/
  page-break-before: always;
}
  div.post.single, div.post:last-child { border-bottom:none; }
  /*div.post h1:first-child, div.post h2:first-child { margin-top:0; }
  div.post h2.title, div.post h1:first-child { font-size:42px; }*/
  /*div.post h1 { margin-top: 1.618em; }*/
  
  div.post actions, div.post .post-meta {
    color: #ccc;
  }
  
  div.post actions {
    display:inline-block;
    float:right;
  }
  
  div.post .post-meta {
    display:inline-block;
    border:1px solid rgba(0,0,0,0.05);
    border-left:none; border-right:none;
    padding:8px 0px 8px 60px;
    margin-left:-60px;
    margin-bottom:3em;
  }
  div.post.photo .post-meta {
    margin:0;
    padding:0;
    border:0;
    display:block;
  }
  
  div.post .post-meta.after {
    margin-top:30px;
    margin-right:-60px;
    margin-bottom:0;
    padding-top:25px;
    padding-right:60px;
    padding-bottom:25px;
    opacity:0.6;
    border-color:rgba(0,0,0,0.08);
    border-bottom:none;
  }
  div.post .post-meta.after:hover {
    opacity:1;
  }

  div.post iframe[width="640"] {
    zoom:0.87;
  }
  

/* prettyprint */
pre { color:black; }
pre .str { color: #080; }
pre .kwd { color: #000; font-weight: 500; }
pre .com { color: #999; font-style: italic; }
pre .typ { color: #349; }
pre .lit { color: #066; }
pre .pun, div.post pre .opn, div.post pre .clo { color: #660; }
pre .pln { color: #000; }
pre .tag { color: #008; }
pre .atn { color: #606; }
pre .atv { color: #080; }
pre .dec { color: #606; }
/* Use higher contrast and font-styling for printable form. */
@media print {
  pre .str { color: #060; }
  pre .kwd { color: #006; font-weight: bold; }
  pre .com { color: #999; font-style: italic; }
  pre .typ { color: #404; font-weight: bold; }
  pre .lit { color: #044; }
  pre .pun, div.post pre .opn, div.post pre .clo {
    color: #440;
  }
  pre .pln { color: #000; }
  pre .tag { color: #006; font-weight: bold; }
  pre .atn { color: #404; }
  pre .atv { color: #060; }
}

//header section
.site-nav {
  float: right;
  margin-top: -120px;
}

header h1 a {
  display:inline-block;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: 160ms -webkit-transform ease-out;
  text-decoration: none;
}
header h1 a:hover {
  -webkit-transform: translate3d(0,2px,0);
/*    -webkit-filter: blur(1px);
  -moz-filter: blur(1px);*/
  text-decoration: none;
  cursor:pointer;
}

footer {
  color:#999;
  display: block;
  margin:0;
  padding:0 0 1em 0;
  text-align: center;
  font-size: $small-font-size;
}

footer a:link {
  color:#778;
  text-decoration: none;
}

/* Viewport size */

@media screen and (min-width: $on-laptop) {
  body { width: $on-laptop; }
  header { margin:0; }
  footer { margin:5% 0; }
}